Django==5.2.5
daphne==4.1.2
channels==4.1.0
channels-redis==4.2.* 
djangorestframework
Pillow
mysqlclient
pydub
ffmpeg-python
django-extensions
websockets
django-cors-headers
django-recaptcha
requests
asgiref>=3.7,<4
twisted==22.10.0
autobahn==23.6.2