# Virtual env
*.venv/
venv/
voice-ai-project/.venv/
voice-ai-project/backend/models/*/venv/

# Model weights / artifacts
*.bin
*.pth
*.pt
*.onnx
*.npz
*.safetensors
voice-ai-project/backend/models/**/ctranslate2-m2m100/

# Editors
.vscode/

# Local
คำสั่ง.txt
